* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  max-width: 70rem;
  margin: 10rem auto;
}

.CharacterList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.character {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}
.character-content {
  justify-content: center;
}
.character-episode {
  gap: 1rem;
  display: flex;
  margin-top: 1rem;
  flex-direction: column;
}
